body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

h2 {
  text-align: center;
  font-weight: bold;
}

h3  {
  color: Black;
  text-align: center;
  font-weight: bold;
}

#chicken,#sushi,#beef{

  background-color: #add8e6;
  background-color: #CCCCCC;
}


.content p {
  padding: 10px;
  color: black;
}
.content{
  padding: 20px;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.container{
        width:100%;
    }


.navbar-default{
  margin: 0;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0;
  background-color: white;
}
#nav-list a {
  color: #951C49;
  border: 1px solid black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
